# Основные библиотеки
ccxt==4.2.85
pandas==2.1.4
ta==0.10.2
requests==2.31.0

# Для бэктестинга (опционально)
numpy==1.26.0
matplotlib==3.8.0  # Для визуализации результатов
python-dotenv==1.0.0  # Для загрузки переменных окружения (.env)
